.number-box .x.axis text {
    display:none;
    font-size: 64px;
    text-align: center;
    line-height: normal;
}

#percent-of-fourDoors-in-IL{
    font-size: 64px;
    text-align: center;
    line-height: normal;
}
#percent-of-fourDoors-in-IN{
    font-size: 64px;
    text-align: center;
    line-height: normal;
}
